# Supabase Configuration
VITE_SUPABASE_URL=https://gfxmokwykgpdadzsmnye.supabase.co
VITE_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdmeG1va3d5a2dwZGFkenNtbnllIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Njc5OTgzODksImV4cCI6MjA4MzU3NDM4OX0.FblwEiDI4uDW3qmiC9ypPlIZwXCPR_21iTwFdj7NagM"
